#slide {
    height: 100px;
    padding-top: 0;
    margin-top: 0;
    width: 100%;
}
.header { 
    background-color: #ffffff;
}

.ListHeader text{
    text-align: left;
    text-size-adjust: left;
}

.ListHeader{
    width: 150px;
    height: 20rem;
}

.CardContent {
    height: 4rem;
}

.loadContent{
    padding : 5rem;
}

.itemcss {
    padding: 1.5rem;
}

.fabs {
    margin-top: 10.7rem;
}

.iconQty{
    width : 30px;
    height: 30px;
}
.loading {
    width : 70px;
    height: 70px;
}

.cash-icon {
    font-size: 16px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.cash-label {
    padding-bottom: 10px;
    margin-bottom: 0;
}